<!DOCTYPE html>
<html lang="en" th:fragment="parent(content,title)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
    <link th:href="@{/css/output.css}" rel="stylesheet">
    <title data-th-replace="${title}">SCM</title>
</head>
<body>
    <div data-th-replace="~{navbar :: navbar}"></div>
    <div class="pt-16"></div>
    <div>
      <section data-th-replace="${content}"></section>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
</body>
</html>