<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title})}">
<head>

    <!-- npx @tailwindcss/cli -i ./src/main/resources/static/css/input.css -o ./src/main/resources/static/css/output.css --watch -->
    <!-- Set-ExecutionPolicy -Scope Process -ExecutionPolicy Bypass -->
    <!-- npx tailwindcss -o ./src/main/resources/static/css/output.css --watch -->

    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Home page</title>
</head>
<body>
    <div id="content">
        <h1>Home Page</h1>
        <p>This is home page</p>
    </div>
</body>
</html>