<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title})}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SignUp</title>
</head>

<body>
  <div id="content">
    <div class="grid grid-cols-12 gap-4">

      <div class="col-span-4 md:col-span-2 lg:col-span-3 xl:col-span-4"></div>
      <div class="col-span-12 md:col-span-8 lg:col-span-6 xl:col-span-4">
        <div
          class="block p-6 mt-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
            <div data-th-replace="message::messagebox"></div>
          </h5>
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">SignUp Here...</h5>
          <p class="font-normal text-gray-700 dark:text-gray-400">  
            Start Managing Contact on Cloud...</p>

          <form data-th-action="@{'/do-register'}" data-th-object="${userForm}" method="post" novalidate>

            <div class="mb-3 mt-5">
              <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">User Name</label>
              <input type="text" id="name" data-th-field="*{name}"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                placeholder="Enter your Name" required />
            </div>

            <p 
            data-th-if="${#fields.hasErrors('name')}"
            data-th-errors="*{name}"
            class="text-red-500 py-1 move-up">
            </p>

            <div class="mb-5">
              <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
              <input type="email" id="email" data-th-field="*{email}"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                placeholder="Enter your Email" required />
            </div>

            <p 
            data-th-if="${#fields.hasErrors('email')}"
            data-th-errors="*{email}"
            class="text-red-500 py-1">
            </p>

            <div class="mb-5">
              <label for="phoneNumber" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone
                Number</label>
              <input type="number" id="phoneNumber" data-th-field="*{phoneNumber}"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                placeholder="Enter your Phone Number" required />
            </div>

            <p 
            data-th-if="${#fields.hasErrors('phoneNumber')}"
            data-th-errors="*{phoneNumber}"
            class="text-red-500 py-1">
            </p>

            <div class="mb-5">
              <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">New
                Password</label>
              <input type="password" id="password" data-th-field="*{password}"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                required />
            </div>

            <p 
            data-th-if="${#fields.hasErrors('password')}"
            data-th-errors="*{password}"
            class="text-red-500 py-1 move-up">
            </p>

            <label for="about" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">About</label>
            <textarea id="message" rows="4" data-th-field="*{about}"
              class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
              placeholder="Write About Yourself..."></textarea>

            <p 
            data-th-if="${#fields.hasErrors('about')}"
            data-th-errors="*{about}"
            class="text-red-500 py-1">
            </p>

            <div class="flex justify-center mt-6">
              <button type="submit"
                class="text-white bg-blue-700 hover:bg-blue-900 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">SignUp</button>

              <button type="reset"
                class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Reset</button>
            </div>

          </form>
        </div>

      </div>
    </div>



  </div>
</body>

</html>